[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "brfssdata"]
	path = brfssdata
	url = https://github.com/muntasirmasum/brfssdata
